* {
    padding: 0px;
    margin: 0px;
}

body {
    background-image:url('/static/images/fundo.jpg');
}

ul li {
    list-style: none;
}


#bubble-header {
    background-color: orange;
}

#bubble-header header h1 {
    padding: 10px;
}

#bubble-background {
    padding: 5px;
}

#bubble-background li {
    width:60px;
    height:60px;
    float:left;
    border-radius: 50px 50px 50px 50px;
    cursor: pointer;
}

#bubble-background .bubble {
    background-image:url('/static/images/bolha.png');
}

#bubble-background .active1 {
    background-image:url('/static/images/bolha_estourada1.png');
}

#bubble-background .active2 {
    background-image:url('/static/images/bolha_estourada2.png');
}

#bubble-background .active3 {
    background-image:url('/static/images/bolha_estourada3.png');
}

#bubble-background .active4 {
    background-image:url('/static/images/bolha_estourada4.png');
}

div {
    float:left;
    width: 100%;
    margin-top: 20px;
}

div span {
    float: left;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background: #CCC;
}
